*diff*.py
*fix*.py
test.html
test.xml
test.pdf
diff*.txt
output.html
log.txt
*.pyc
__pycache__/
.ruff_cache/
uploads/
*.db
*.pdf
SDS_Mycoplasma_Off_PERFEKT.html
SDS_PERFEKT_TEMPLATE.html
translated_document*.pdf
venv/
.env
node_modules/
QUELLEN/
